.container-login {
  display: flex;
}

.left-content {
  width: 50%;
}

.left-content img {
  width: 100%;
}

.logo-login{
    text-align: center;
}

.right-content-login {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.input-login-container {
  margin-bottom: 20px;
}

.title-login {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.input-login {
  width: 100%;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.login-button{
    background-color: #e53935;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}

.register-container{
    text-align: center;
}

.register-container p{
    color: #aca9a9;
}

.register-container img{
    width: 100px;
}