.custom-button {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #f40909;
    color: white;
}

.custom-button:hover {
    opacity: 0.8;
}
