.header {
  background-color: #800000;
  color: white;
  padding: 10px 0;
  border-bottom: 2px solid #600000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.logo img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 15px;
  position: relative;
}

.menu-item a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
  position: relative;
}

.menu-item a:hover {
  color: #f8d7da;
}

.menu-item a:hover::after {
  width: 100%;
}

.auth-buttons {
  margin-left: 30px;
  display: flex;
  gap: 12px;
}

.auth-buttons button {
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-buttons button.login {
   background-color: #f40909;
  color: white;
  border: none;
}

.auth-buttons button.login:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.auth-buttons button.register {
  background-color: #a52a2a;
  color: white;
    border: 1px solid rgb(246, 9, 9);
}
